<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="AppName" value="SimpleApp"/>
  <variable name="MS" value="Microsoft"/>
  <variable name="MSdiag" value="${MS}.AspNetCore.Hosting.Diagnostics"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="C:/Logs/${AppName}.log" />

    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="${MSdiag}" minlevel="Info" writeTo="logfile" />
    <logger name="${MS}.*" minlevel="Error" writeTo="logConsole" />

    <logger name="${AppName}.*" minlevel="Info" writeTo="logfile" />
    <logger name="${AppName}.*" minlevel="Info" writeTo="logfile" />
    <logger name="${AppName}.*" minlevel="Error" writeTo="logConsole" />
  </rules>
</nlog>